@import "spinner";
@import "profile";

body {
  background: #fafafa;
}

.page-404 {
  height: 100%;

  body, main {
    height: inherit;
  }
}

.layout {
  &__form {
    label {
      display: block;
    }

    label.js-error,
    label.error {
      bottom: -25px;
      color: #fff;
      font-size: 12px;
      margin: 0;
      padding: 0 15px;
      position: absolute;
      width: 100%;
    }
  }

  &__form-header {
    background: #6562e5;
  }

  &__form-input {
    background: #f4f4fd;
    border: 1px solid #f4f4fd;
    border-radius: 50px;
    display: block;
    height: 50px;
    margin: 0;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
    width: 100%;

    &:focus, &:active, &:hover {
      border-color: #f4f4fd;
      outline: none;
    }

    &.error {
      margin-bottom: 10px;
    }

  }

  &__form-group {
    position: relative;
    padding-right: 55px;
    padding-left: 55px;
  }

  &__form-btn {
    background: #3e2092;
    border-radius: 100%;
    color: #fff;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;

    &:focus, &:active, &:hover {
      border-color: #20134a;
      background: #20134a;
      box-shadow: none;
      color: #fff;
      outline: none;
    }
  }

  &__form-switch-box {
    float: left;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 40px;

    p {
      color: #fff;
      font-size: 9px;
      margin-bottom: 3px;
    }
  }

  &__form-switch {
    display: block;
    position: relative;

    label {
      display: block;
      height: 20px;
      margin: 0;
      position: relative;
      z-index: 5;
    }

    input[type=checkbox], input[type=radio] {
      box-sizing: border-box;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      visibility: hidden;

      &:checked + span {
        background: #240083;
        &:after {
          left: 50%;
        }
      }
    }

    span {
      border-radius: 20px;
      background: #7141fa;
      display: block;
      height: 20px;
      position: absolute;
      top: 0;
      transition: all .3s ease-in-out;
      width: 100%;
      z-index: 1;

      &:after {
        border-radius: 100%;
        background: #fff;
        content: '';
        display: block;
        height: 20px;
        left: 0;
        position: relative;
        transition: all .3s ease-in-out;
        width: 20px;
      }
    }
  }

}